# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js build output
.next/
out/

# IDE files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.vercel
.env*
*.tsbuildinfo
